In [190]:
import requests
from bs4 import BeautifulSoup
from selenium import webdriver
import pandas as pd

In [191]:
web = requests.get("https://www.screener.in/company/TCS/consolidated")

In [192]:
# # Set a user-agent to mimic a browser
headers = {
    "User-Agent": "Mozilla/5.0"
}
response = requests.get(url, headers=headers)

# Parse HTML content
soup = BeautifulSoup(response.content, "html.parser")

tables = pd.read_html(str(soup))

for table in tables:
    if 'Sales' in table.columns or 'Mar 2024' in table.columns:  # adjust as needed
        print("ðŸ“Š Found Sales Table:")
        print(table)
        break

ðŸ“Š Found Sales Table:
           Unnamed: 0 Mar 2022 Jun 2022 Sep 2022 Dec 2022 Mar 2023 Jun 2023  \
0             SalesÂ +    50591    52758    55309    58229    59162    59381
1          ExpensesÂ +    36746    39342    40793    42676    43388    44383
2    Operating Profit    13845    13416    14516    15553    15774    14998
3               OPM %      27%      25%      26%      27%      27%      25%
4      Other IncomeÂ +      981      789      965      520     1175     1397
5            Interest      245      199      148      160      272      163
6        Depreciation     1217     1230     1237     1269     1286     1243
7   Profit before tax    13364    12776    14096    14644    15391    14989
8               Tax %      25%      25%      26%      26%      26%      26%
9        Net ProfitÂ +     9959     9519    10465    10883    11436    11120
10          EPS in Rs    27.13    25.90    28.51    29.64    31.13    30.26
11            Raw PDF      NaN      NaN      NaN      NaN      NaN      NaN

   Sep 2023 Dec 2023 Mar 2024 Jun 2024 Sep 2024 Dec 2024 Mar 2025
0     59692    60583    61237    62613    64259    63973    64479
1     43946    44195    44073    45951    47528    46939    47499
2     15746    16388    17164    16662    16731    17034    16980
3       26%      27%      28%      27%      26%      27%      26%
4      1006      -96     1157      962      729     1243     1028
5       159      230      226      173      162      234      227
6      1263     1233     1246     1220     1266     1377     1379
7     15330    14829    16849    16231    16032    16666    16402
8       26%      25%      26%      25%      25%      25%      25%
9     11380    11097    12502    12105    11955    12444    12293
10    31.00    30.56    34.37    33.28    32.92    34.22    33.79
11      NaN      NaN      NaN      NaN      NaN      NaN      NaN

C:\Users\asus\AppData\Local\Temp\ipykernel_19592\3307917393.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(str(soup))